header{
    background: white;
    padding: 0;
    border-bottom: 2px solid #811515;
}
a{
    color:#811515;
}
a:hover{
    background: #811515;
    color: white;
}
.container{
    margin:auto;
    display: flex;
    justify-content: space-between;
}
a.logo {
    font-weight: bold;
    padding: 1em;
    text-decoration: none; /* This removes the underline */
    font-size: 1.5em;
}

nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a{
    padding: 1em;
    display: inline-block;
}